Source: qubes-mgmt-salt-all-salt
Section: admin
Priority: extra
Maintainer: Jason Mehring <nrgaway@gmail.com>
Build-Depends: debhelper (>= 9~), quilt
Standards-Version: 3.9.5
Homepage: http://www.qubes-os.org

Package: qubes-mgmt-salt-all-salt
Section: admin
Architecture: all
Depends:
    qubes-mgmt-salt
Recommends:
    ca-certificates,
    git,
    python-dulwich,
    python-pip
Description: Salt formula to configure salt itself.
